# Environment variables
.env

# Python cache files
api/__pycache__/
utils/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local data files
processed_ids.json